/* required: javascript/appear.js */
.appear {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
.appear.show {
    opacity: 1;
    transform: translateY(0px);
}