@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.mainFont {
    font-family: 'Cafe24Ohsquare';
    font-size: 18px;
    color: #fff;
    text-align: center;
}
body {
    background-color: black;
    width: 100%;
}
header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Cafe24Ohsquare';
    font-size: 15px;
    text-align: center;
    color: #fff;
    background-color: black;
    border-bottom: 4px solid white;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
header > a {
    display: inline-block;
}
#logo {
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
#titleAndLogoPack {
    cursor: pointer;
    height: 45px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}
#titlePack {
    height: 45px;
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 18px;
    transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
.titleDesc {
    font-size: 12px;
    opacity: 0;
    transform: translateY(-40px);
    transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
.title:hover {
    transform: translateY(-6px);
}
.title:hover + .titleDesc {
    opacity: 1;
    transform: translateY(-30px);
}
a:link, a:visited {
    color: white;
    text-decoration: none;
}
#menus {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
#menus li {
    margin-left: 30px;
}
#menus li:last-child {
    margin-right: 100px;
}
a:link, a:visited {
    color: white;
    text-decoration: none;
}
main {
    margin-top: 175px;
    line-height: 1.6;
}
@media screen and (((max-width: 500px) and (orientation: portrait)) or ((max-width: 700px) and (orientation: landscape))) {
    .mainFont {
        font-size: 13px;
    }
    header {
        font-size: 12px;
        padding: 0 20px;
    }
    #logo {
        width: 50px;
        height: 50px;
    }
    .title {
        font-size: 12px;
    }
    .titleDesc {
        font-size: 8px;
        transform: translateY(-30px);
    }
    .title:hover + .titleDesc {
        transform: translateY(-20px);
    }
    #titleAndLogoPack {
        height: 50px;
    }
    #titlePack {
        height: 50px;
    }
}